.choose-section h1{
    color: #ffffff;
    text-align: center;
    position: relative;
    font-family: Comic Sans MS;
    font-size: 30px;
}

.grid p{
  background-color: #23272a;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    margin-top: 10px;
}

.buttons a:link {
    background-color: white;
    font-family: Comic Sans MS;
    border: 2px;
    border-radius: 10px;
    padding: 30px;
    font-size: 30px;
    text-decoration: none;
    margin-left: 175px;
}

.b-1 a:link {
  display: none;
}
.b-2 a:link {
  display: none;
}
.b-3 a:link {
  display: none;
}
.b-4 a:link {
  display: none;
}

body{
    font-family: sans-serif;
}

nav {
    height: 10vh;
    background: #475D5D;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: Comic Sans MS;
}

.nav-links:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    nav {
      position: relative;
    }

    .choose-section h1{
        color: #eee;
        text-align: center;
        font-family: Comic Sans MS;
        font-size: 40px;
    }

    .buttons a:link {
      display: none;
    }

    .b-1 a:link {
      background-color: white;
    font-family: Comic Sans MS;
    border: 2px;
    border-radius: 10px;
    padding: 30px;
    font-size: 30px;
    text-decoration: none;
    display: block;
    position: relative;
    top: 25px;
    }
    .b-2 a:link {
      background-color: white;
      font-family: Comic Sans MS;
      border: 2px;
      border-radius: 10px;
      padding: 30px;
      font-size: 30px;
      text-decoration: none;
      display: block;
      position: relative;
    top: 50px;
    }
    .b-3 a:link {
      background-color: white;
    font-family: Comic Sans MS;
    border: 2px;
    border-radius: 10px;
    padding: 30px;
    font-size: 30px;
    text-decoration: none;
    display: block;
    position: relative;
    top: 75px;
    }
    .b-4 a:link {
      background-color: white;
    font-family: Comic Sans MS;
    border: 2px;
    border-radius: 10px;
    padding: 30px;
    font-size: 30px;
    text-decoration: none;
    display: block;
    position: relative;
    top: 100px;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links {
      position: fixed;
      background: #475D5D;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
      }
      .nav-links li a {
        font-size: 25px;
        text-align: center;
      }
      .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
      }
      .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
      }
      .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
      }
      li.fade {
        opacity: 1;
      }
}